fastapi
uvicorn[standard]

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

google-generativeai
openai

beautifulsoup4
pdfplumber
python-docx
requests

chromadb
langchain

pydantic
python-dotenv
python-multipart
PyJWT

streamlit
